# PokéData: A Data-Driven Victory

__Context:__ Professor Oak's hypothesis is that Pokémon have been getting stronger with each generation however some of his colleagues seem to disagree. With the Pokémon championship battle coming closer, he wants to use this event to test his theory. He tasks a promising young trainer to fight the undefeated champion Cynthia with a carefully constructed team of 6 pokemon and bring an end to her win streak. 

__Objective:__ Create a team of 6 non-legendary Pokémon that can defeat Cynthia's team and analyse trends in the data to in order to assess professor Oak's hypothesis.

In [2]:
# import libraries

import pandas as pd
import sqlite3

In [4]:
#install python-sql functionality
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\danny\appdata\local\programs\python\python310\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\danny\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (3.11.0)
Requirement already satisfied: ipython in c:\users\danny\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (8.28.0)
Requirement already satisfied: ipython-genutils in c:\users\danny\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in c:\users\danny\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in c:\users\danny\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\danny\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\danny\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\danny\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: pygments>=2.4.0 in c:\users\danny\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\danny\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: decorator in c:\users\danny\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: matplotlib-inline in c:\users\danny\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: exceptiongroup in c:\users\danny\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (1.2.2)
Requirement already satisfied: colorama in c:\users\danny\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: jedi>=0.16 in c:\users\danny\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: stack-data in c:\users\danny\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\danny\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: wcwidth in c:\users\danny\appdata\local\programs\python\python310\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\danny\appdata\local\programs\python\python310\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\danny\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\danny\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\danny\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (2.1.0)

WARNING: There was an error checking the latest version of pip.

In [9]:
# loading dataset

df = pd.read_csv('C:/Users/danny/Documents/Projects/PokeData/PokemonStats.csv')
df.head()

,ID,Name,Total,HP,Attack,Defense,SpAtk,SpDef,Speed,Type1,Type2,Height,Weight
0,1,Bulbasaur,318,45,49,49,65,65,45,Grass,Poison,0.7,6.9
1,2,Ivysaur,405,60,62,63,80,80,60,Grass,Poison,1.0,13.0
2,3,Venusaur,525,80,82,83,100,100,80,Grass,Poison,2.0,100.0
3,3,Venusaur Mega Venusaur,625,80,100,123,122,120,80,Grass,Poison,2.4,155.5
4,4,Charmander,309,39,52,43,60,50,65,Fire,NaN,0.6,8.5